[Unit]
Description=SpyPi Camera Service
After=network.target

[Service]
# Important: Change the paths below to match the location of your SpyPi project on the Raspberry Pi.
# For example, if your project is in /home/pi/Projects/SpyPi, update the paths accordingly.
# You may also need to change the path to the python executable if it's different on your system.
ExecStart=/usr/bin/python /home/evan/Documents/Github/SpyPi/SpyPi.py
WorkingDirectory=/home/evan/Documents/Github/SpyPi
StandardOutput=inherit
StandardError=inherit
Restart=always
User=evan

[Install]
WantedBy=multi-user.target
